<!-- set sessionID for each page load -->
<% if logged_in? %>
  <script>var sessionID = <%= session[:user_id] %></script>
<% else %>
  <script>var sessionID</script>
<% end %>

<!-- #Navigation    ##########################################################-->
<!-- <div class="fixed"></div> -->
<!-- <%% embedded javascript %>
put conditional rendering of nav items using javascript -->
<script type='text/html' class='navigation'>
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#" id='main-logo'><span class='logo'>Swagu.ru</span></a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li><a href="" id='home-nav'><i class='fi-home'></i> Home</a></li>

        <%% if (sessionID) { %>
          <li><a href="" id="user-show-nav"><i class='fi-torso'></i> Profile</a></li>
          <li><a href="" id='sign-out-nav'>Sign Out</a></li>
        <%% } else { %>
          <li><a href="" id='sign-up-nav'>Sign Up</a></li>
          <li><a href="" id='sign-in-nav'>Sign In</a></li>
        <%% } %>

      </ul>
    </section>
  </nav>
</script>

<!-- #Welcome page    ##########################################################-->
<script type='text/html' class='welcome'>
  <div class='rows'>
    <div class='large-8 large-centered columns text-center'>
      <h1>Welcome to <span class='logo'>Swagu.ru</span></h1>


    </div>
  </div>

  <div class='rows'>
    <div class='large-4 large-centered columns text-center'>
      <a href="#" class='large button' id='sign-up-button'>Sign Up</a>
      <a href="#" class='large button' id='sign-in-button'>Log In</a>
    </div>
  </div>  
</script>

<!-- #Sign Up User Form  ######################################################### -->
<script type='text/html' class='sign-up-form'>
  <div class="large-6 large-centered columns text-center">
    <h1>Create a New Account</h1>

    <form class='new-user'>
      <fieldset>
        <input type="text" name="name" placeholder='Name'>
        <input type="email" name='email' placeholder='Email'>
        <input type="password" name='password' placeholder='Password'>
        <input type="password" name='password_confirmation' placeholder='Password Confirmation'>

        <select name="gender" id="" placeholder='Gender'>
          <option value="">Select Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <button>Sign Up</button>
      </fieldset>
    </form>
  </div>
</script>

<!-- #Sign In User Form  ###########################################################  -->
<script type='text/html' class='sign-in-form'>
  <div class="large-6 large-centered columns text-center">
    <h1>Sign In</h1>

    <form class='sign-in'>
      <fieldset>
        <input type="email" name='email' placeholder='Email'>
        <input type="password" name='password' placeholder='Password'>
        <button>Sign In</button>
      </fieldset>
    </form>
  </div>
</script>

<!-- #Photo Upload Modal Filler ################################################## -->
<script type='text/html' class='photo-upload'>
  <h2></h2>

  <%% if (this.model.get('id') === sessionID) { %>
    <input type='file' name='photo' id='fileInput'>
  <%% } %>

  <div class='preview-photo' id='photo-frame'></div>

  <button id='upload-profile-photo'>Update Profile Photo</button>
  <button id='upload-photo'>Upload Photo</button>

  <a class="close-reveal-modal">&#215;</a>
</script>

<!-- #Show User Page ########################################################### -->
<script type='text/html' class='user-show-page-top'>
  <div class="large-8 large-centered columns">
    <a data-reveal-id='photo-modal'>
      <%% if (this.model.get('profile_photo_url') != null) { %>
        <img src="<%%= this.model.get('profile_photo_url') %>" id='profile-photo' alt="">
      <%% } else { %>
        <img src='http://placekitten.com/200/300' id='profile-photo' alt=''>
      <%% } %>
    </a>

    <div id='profile-name'>
      <p>
        <%%= this.model.get('name') %>
      </p>
    </div>

    <div id='stats row'>
      <div class='small-8 small-centered columns'>
        <ul class='button-group even-3'>
          <li><a href="#" class='button small'>Style Points</a></li>
          <li><a href="#" class='button small'>Followers</a></li>
          <li><a href="#" class='button small'>Following</a></li>
        </ul>
      </div>
    </div>
  </div>
</script>

<script type='text/html' class='user-show-page-bottom'>
  <div class="large-8 large-centered columns text-center">
    <%% if (sessionID) { %>
      <div class='rows'>
        <div class='large-10 large-centered columns text-center'>
          <ul class='button-group even-2'>
            <li><a href="" class="button large" id='upload-new-photo' data-reveal-id='photo-modal'><i class='fi-photo'></i> Photo</a></li>
            <li><a href="#" class="button large"><i class='fi-pencil'></i> Post</a></li>
          </ul>
        </div>
      </div>
    <%% } %>

    <div class='rows'>
      <div class='large-10 large-centered columns text-center'>
        <ul class='user-show-content'>
          <%% var self = this %>
          <%% _.each(this.collection.models, function(model){ %>
            <li class='photo' id='<%%= model.get('id') %>'><img src='<%%= model.get('image_url') %>'>
              <%% if (self.model.get('id') === sessionID) { %>
                <a class='delete'><i class='fi-trash'></i> Delete</a>
              <%% } %>
            </li>
          <%% }) %>
        </ul>  
      </div>
    </div>
  </div>
</script>