<!-- #Welcome page                                                      -->
<script type='text/html' class='welcome'>
  <div class='rows'>
    <div class='large-8 columns'>
      
    </div>
  </div>

  <div class='rows'>
    <div class='large-4 columns'>
      <a href="#" class='large button' id='sign-up'>Sign Up</a>
      <a href="#" class='large button' id='sign-in'>Sign In</a>
    </div>
  </div>  
</script>

<!-- #User Form                                                           -->
<script type='text/html' class='user-form'>
  <fieldset>
    <input type="text" name="name" placeholder='Name'>
    <input type="email" name='email' placeholder='Email'>
    <input type="password" name='password' placeholder='Password'>
    <input type="password" name='password_confirmation' placeholder='Password Confirmation'>

    <select name="gender" id="" placeholder='Gender'>
      <option value="">Select Gender</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
  </fieldset>  
  <button>Sign Up</button>
</script>

<!-- Ship only 2 container divs when user visits app for 1st time -->
<% [1,2].each do |n| %>
  <div class='container<%= n %>'></div>
<% end %>
