/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

input.error { border: 2px solid red; }

div.container1 {
  margin-top: 5%;
}

div#profile-photo-frame img {
  width: 200px;
}

img.photo-preview {
  width: 500px;
}

div {
  /*uncomment to see divs*/
  /*border: 2px solid green;*/
}

ul {
  list-style: none;
}

div.reveal-modal {
  min-height: 30%;
  max-height: 50%;
}